.header-with-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.star-icon.animate {
  animation: bounce 0.4s;
}

@keyframes bounce {
  0% { transform: scale(1); }
  40% { transform: scale(1.4); }
  60% { transform: scale(0.9); }
  100% { transform: scale(1); }
}
