<ion-header [translucent]="true">
  <app-top-app-bar [title]="'Favorites'"></app-top-app-bar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">
  <ng-container *ngIf="favorites.length; else noFavorites">
    <ion-card *ngFor="let player of favorites">
      <ion-card-header class="header-with-icon">
        <div class="header-top">
          <div>
            <ion-card-title>{{ player.first_name }} {{ player.last_name }}</ion-card-title>
            <ion-card-subtitle>{{ player.team.full_name }}</ion-card-subtitle>
          </div>
          <!-- Botón de compartir -->
          <ion-button fill="clear" size="small">
            <ion-icon name="share-outline"></ion-icon>
          </ion-button>
          <!-- Botón de favorito -->
          <ion-button fill="clear" size="small" (click)="toggleFavorite(player)">
            <ion-icon
              name="star"
              color="warning"
              [ngClass]="{ 'animate': animatingId === player.id }"
              class="star-icon">
            </ion-icon>
          </ion-button>
        </div>
      </ion-card-header>

      <ion-card-content>
        <p><strong>Position:</strong> {{ player.position || 'N/A' }}</p>
        <p><strong>Jersey Number:</strong> {{ player.jersey_number || 'N/A' }}</p>
        <p><strong>Height:</strong> {{ player.height || 'N/A' }}</p>
        <p><strong>Weight:</strong> {{ player.weight || 'N/A' }}</p>
        <p><strong>Country:</strong> {{ player.country || 'N/A' }}</p>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #noFavorites>
    <p>No favorites yet.</p>
  </ng-template>
</ion-content>

<app-bottom-nav-bar></app-bottom-nav-bar>

