<ion-header [translucent]="true">
  <app-top-app-bar [title]="'Players'"></app-top-app-bar>
</ion-header>

<ion-content>

  <div class="spinner-center" *ngIf="isLoading && players.length === 0">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ion-list>
    <ion-item *ngFor="let player of players" (click)="goToPlayerDetail(player)">
      <ion-label>
        <h2>{{ player.first_name }} {{ player.last_name }}</h2>
        <p>Height: {{ player.height || 'N/A' }} - Weight: {{ player.weight || 'N/A' }}</p>
        <p>Team: {{ player.team.full_name }}</p>
      </ion-label>
      <ion-button fill="clear" slot="end" (click)="sharePlayer(player)">
        <ion-icon slot="icon-only" name="share-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadPlayers($event)">
    <ion-infinite-scroll-content loadingSpinner="dots" loadingText="Loading more players...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<app-bottom-nav-bar></app-bottom-nav-bar>
